    :host{
      position: absolute;
      top: 0px;
      left: 0px;
      overflow:hidden;
      
      /*font-family: 'Lato', sans-serif;*/
      font-size: 13px;
    }
    
    polymer-ui-toolbar {
            height:20px;
            border-bottom-width: 0px;
            margin-left: 12px;
          }
          
          .sidebar-menu {
            overflow: hidden;
            padding: 0px;
          }
          
          polymer-ui-sidebar-header .sidebar-title {
            font-size: 15px;
            font-weight: bold;
            opacity: 0.8;
            text-shadow: rgba(0, 0, 0, 0.2) 0px 0px;
          }
          
          polymer-ui-toolbar.polymer-ui-light-theme {
background-image: none;
/*background-color: rgb(195, 250, 55);/*rgb(242, 242, 242);*/
background-color: rgba(195, 250, 55, 0);
          }
          polymer-ui-menu-item.polymer-ui-light-theme.polymer-selected, polymer-ui-menu-item.polymer-ui-light-theme[active] {
background-color: rgba(195, 250, 55,0.8); /*rgb(85, 153, 255); rgb(195, 250, 55);*/
border: none; 

          }
          
          polymer-ui-sidebar-menu.polymer-ui-light-theme {
            box-shadow: rgba(0, 0, 0, 0) -8px 0px 8px -4px inset;
            }
          
          polymer-ui-menu-item {
            padding: 5px 5px;
            font-size:13px;
            border-radius: 0px;
            /*background-color: rgb(195, 250, 55);*/
            border:none;
            opacity: 0.6;
            
            
            -webkit-user-select: none;
            -moz-user-select: none;
          }
          
          
          
          polymer-ui-menu-button #overlaymenu {
          display: inline-block;
          position: relative;
          top: -1px;
          box-sizing: border-box;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, 0.14902);
          box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 0px;
          margin: 7px 0px 0px 7px;
          background-position: initial initial;
          background-repeat: initial initial;
          }

          polymer-ui-icon-button{
display: inline-block;
box-sizing: border-box;
width: 15px;
height: 15px;
background-image: none;
border-radius: 0px;
padding: 6px;
margin: 5px;
vertical-align: middle;
cursor: pointer;
          }
          
          polymer-ui-icon-button:hover {
box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;
color: #0099dd;

}

polymer-ui-toolbar {
font-size: 15px;
font-family: 'Helvetica Neue Medium', HelveticaNeue-Medium, Helvetica, sans-serif;
}


/*polymer-ui-toolbar .fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
position: absolute;
top: 2px;
}*/

/*REAL STUFF starts here*/

core-icon{
  width:18px !important;
  height:18px !important;
  font-size:18px !important;
}

core-icon-button {
  display: inline-block;
  background-image: none;
  padding: 3px;
  margin: 2px;
width: inherit;
height: inherit;
  vertical-align: middle;
  cursor: pointer;
  
  border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

core-icon-button.usco-light:hover{
            color:rgb(0, 153, 221);
}

core-item {
  display: block;
  height: 30px;
  cursor: pointer;
}

core-item .item-container > core-icon {
  margin: 0px 3px 0px 4px;
}

core-item.usco-light:hover{
            color:rgb(0, 153, 221);
}

core-theme-aware.usco-dark core-icon-button{
            color:red;
}

core-theme-aware.usco-light core-icon-button{
            color:black;
}

core-theme-aware.usco-light core-icon-button core-icon:hover{
            color:rgb(0, 153, 221);
}

core-theme-aware.usco-light core-icon-button.selected {
  background-color: rgba(71, 167, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.117647) 0px 0px 0px 1px;
}


core-menu-button #overlay {
  position: absolute;
  left: 1px;
  top: 26px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0px;
  background-position: initial initial;
  background-repeat: initial initial;
}


core-tooltip .polymer-tooltip {
  pointer-events: none;
  position: absolute;
  display: flex;
  font-size: 10px;
  font-family: sans-serif;
  padding: 8px;
  color: rgba(71, 167, 255, 1);
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 0px;
  white-space: nowrap;
  line-height: 6px;
  z-index: 1002;
}

core-toolbar {
  height:24px;
}

core-toolbar .toolbar-tools {
  height: 24px;
  padding: 0px 9px;
  font-size:12px;
}

history-editor
{
  width: 100px;
  top:20px;
}

history-editor .undositem {
background-color: rgba(99, 148, 201, 0);
}

#confirmation {
	text-align: center;
	width: 150px;
	z-index:999;
}

/*FIXME: this does not work, x-dialog is not "theme aware"*/
core-theme-aware.usco-ligth x-dialog{
  box-sizing: border-box;
				-moz-box-sizing: border-box;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 13px;
				-webkit-user-select: none;
				-moz-user-select: none;
				overflow: hidden;
				background: rgba(44, 47, 49, 0.690196);
				padding:30px 42px;
				outline: 1px solid rgba(0,0,0,0.2);
				box-shadow: 0 4px 16px rgba(0,0,0,0.2);
				width: 500px;
				color: white;
}

x-dialog{
  box-sizing: border-box;
				-moz-box-sizing: border-box;
				font-size: 13px;
				-webkit-user-select: none;
				-moz-user-select: none;
				overflow: hidden;
				background: rgba(44, 47, 49, 0.83);
				padding:10px 12px;
				outline: 1px solid rgba(0,0,0,0.2);
				box-shadow: 0 4px 16px rgba(0,0,0,0.0);
				width: 500px;
				color: white;
}

x-dialog .help{

  color:red !important;
  
}
